* {
	margin: 0px;
	padding: 0px;
	background-color: #282828;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	line-height: 1.20em;
	color: #729fcf;
}

a {
	color: orange;
	text-decoration: none;
}

h3 {
	color: azure;
	border-bottom: 2px solid snow;
}

legend {
	color: azure;
	font-weight: bold;
}

button {
	width: 6em;
	padding: 3px;
	color: orange;
}

div.DivEditDivs {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid snow;
}

div.DivEditSettings {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid snow;
}

div.DivEditCategory {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid snow;
}

div.DivEditCRUDCategory {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid snow;
}

div.DivEditor {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid snow;
}

span.SpanShowDivEditor {
	color: #729fcf;
}

table {
	border: 2px solid snow;
	border-collapse: collapse;
}

th, td {
	border: 2px solid snow;
  	padding: 15px;
  	text-align: left;
}

div.DivThreeColumns {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 5px;
    overflow: auto;
    border: 2px solid snow;
}

fieldset.FieldsetThreeColumns {
	margin: 5px;
	padding: 1em;
    height: 94%;
    overflow: auto;
    border: 2px solid snow;
}

div.Column {
    height: 94%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
    -moz-column-gap: 40px;
    column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule: 2px solid snow;
    -moz-column-rule: 2px solid snow;
    column-rule: 2px solid snow;
}

div.Category {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid snow;
}

span.Spacer:not(:last-child):before {
    content: " ~ ";
    color: snow;
}

