:root {
  --border-color: royalblue;
}

* {
	margin: 0px;
	padding: 0px;
	background-color: snow;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	line-height: 1.20em;
	color: var(--border-color);
	border-radius: 4px;
}

a {
	color: darkgoldenrod;
	text-decoration: none;
}

h3 {
	color: gray;
	border-bottom: 2px solid var(--border-color);
	border-radius: 0px;
}

legend {
	color: gray;
	font-weight: bold;
}

button {
	width: 6em;
	padding: 3px;
	color: var(--border-color);
}

div.DivEditDivs {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid var(--border-color);
}

div.DivEditSettings {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid var(--border-color);
}

div.DivEditCategory {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid var(--border-color);
}

div.DivEditCRUDCategory {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid var(--border-color);
}

div.DivEditor {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid var(--border-color);
}

span.SpanShowDivEditor {
	color: var(--border-color);
}

table {
	border: 2px solid var(--border-color);
	border-collapse: separate;
}

td, th {
  	padding: 15px;
  	text-align: left;
    border-top: solid var(--border-color) 2px;
	border-left: solid var(--border-color) 2px;
    border-radius: 0px;
}

th {
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

div.DivThreeColumns {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 5px;
    overflow: auto;
    border: 2px solid var(--border-color);
}

fieldset.FieldsetThreeColumns {
	margin: 5px;
	padding: 1em;
    height: 94%;
    overflow: auto;
    border: 2px solid var(--border-color);
}

div.Column {
    height: 94%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
    -moz-column-gap: 40px;
    column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule: 2px solid var(--border-color);
    -moz-column-rule: 2px solid var(--border-color);
    column-rule: 2px solid var(--border-color);
}

div.Category {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    overflow: auto;
    border: 2px solid var(--border-color);
}

span.Spacer:not(:last-child):before {
    content: " ~ ";
    color: var(--border-color);
}

